/*
=============== 
Variables
===============
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

img {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Home
===============
*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  z-index: 0;
  color: var(--clr-primary-4);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-black);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
}

.btn:hover {
  color: var(--clr-black);
  background: transparent;
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}

.close-btn:hover {
  color: var(--clr-red-light);
}

.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}

.links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
}

.links a:hover svg {
  color: var(--clr-grey-4);
}

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  z-index: 1;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.docupload {
  margin: 7rem auto;
  text-align: center;
}

.home-heading {
  margin: 2rem auto;
  text-align: center;
  padding: 3rem 3rem;
  border: 3px solid black;
  text-transform: capitalize;
}

.feed {
  border: 3px solid var(--clr-primary-5);
  margin: 2rem 5rem;
}

.feed img {
  /* border: 3px solid var(--clr-primary-5); */
  /* margin: 1.5rem auto; */
  max-height: 50vh;
  max-width: 50vw;
}

.feed p {
  box-sizing: border-box;
  width: 50vw;
  text-transform: capitalize;
}
#searchbar {
  position: relative;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px var(--clr-grey-6);
}

input[type='text'] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus, 
     change its width to 100% */
input[type='text']:focus {
  width: 70%;
}

#list {
  font-size: 1.5em;
  margin: 50px auto;
}

.animals {
  display: list-item;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px auto;
  width: 80%;
  font-size: 1.5rem;
  position: relative;
  min-height: 3rem;
  box-shadow: 10px 5px 5px var(--clr-grey-8);
}

.animals input {
  position: absolute;
  left: 10%;
  top: 35%;
  font-size: 3rem;
}

.animals label {
  position: absolute;
  right: 10%;
  font-size: 1.5rem;
}
.selectedItems {
  min-width: 70vw;
  margin-top: 2rem;
}
.items {
  display: inline;
  border: 1px solid black;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px var(--clr-grey-3);
}
#list form {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
@media screen and (max-width: 800px) {
  #list form {
    grid-template-columns: auto auto;
  }
}
.submit-btn {
  margin: 2% auto;
}

.submit-btn input {
  background-color: var(--clr-primary-5);
}

.reminder-main #clock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.reminder-main #date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.reminder-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reminder-main input {
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 10px;
}
.pred {
  background-color: chartreuse;
  text-align: center;
  width: 40%;
  transform: translateX(70%);
  margin-top: 20px;

  padding-top: 20px;
  border-radius: 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-with-google-btn {
  position: absolute;
  right: 160px;
  top: 65%;

  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  width: 15vw;

  color: #757575;
  font-size: 16px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}
.login-btn {
  position: absolute;
  top: 40%;
  right: 175px;
}
.shift {
  margin-left: 140px;
  margin-top: 100px;
}
.curve {
  border-radius: 0.5rem;
}
.position-Or {
  position: absolute;
  font-size: 1rem;
  right: 270px;
  top: 60.5%;
}
.position-protection {
  position: absolute;
  right: 30px;
  top: 75%;
  margin-bottom: 50px;
}
.cool {
  background: black;
}
.view-landing {
  height: 70vh;
  width: 101.1%;
}
